<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>
  <body>
    <%- include('../partials/header'); %>
    <h1><%= pageTitle %></h1>
    <h2>Logged in as: <%= user %> </h2>
    <p>Welcome to Tony's blog site <%= user %>! <br><br>Visit the login page to login as a current user. <br><br>If you are not already signed up then you can visit the register page to do so. </p>
    <img src="/images/homeimg.png">
    <%- include('../partials/footer'); %>
  </body>
</html>

